@{
    var title = ViewData["Title"] ?? "TimeForPill";
}

<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title - TimeForPill</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="app-topbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid px-4">
                <a class="navbar-brand brand-lockup" asp-controller="Home" asp-action="Index">
                    <span class="brand-mark">+</span>
                    <span>TimeForPill</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Navigacija">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav ms-auto gap-lg-1">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Pocetna</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Lijeks" asp-action="Index">Lijekovi</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Terapijas" asp-action="Index">Terapije</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Pacijents" asp-action="Index">Pacijenti</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Ljekars" asp-action="Index">Ljekari</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Notifikacijas" asp-action="Index">Notifikacije</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Zahtjevs" asp-action="Index">Zahtjevi</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="app-shell">
        <div class="container-fluid px-4 py-4 py-lg-5">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
